<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
<title> <%=pageTitle%> </title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">    
<link rel = "stylesheet" type ="text/css" href="../public/style3.css">
    
 
</head>
<body>  
    <%  include ./partials/menu %>
    <h2>Bonjour</h2>
    <%  include ./partials/footer %>
  
</body> 
</html>